*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body
{
    background-color: black;
    color: #f5f5f5;
    font-family: 'Raleway', sans-serif;
}

a
{
    text-decoration: none;
    color: #f5f5f5;
}

/* Header */

header
{
    height: 20vh;
    /* background: red; */
    display: flex;
    align-items: center;
}

.logo
{
    padding-left: 3%;
    flex: 0.5;
}

.logo img
{
    height: 15vh;
}

nav
{
    display: flex;
    align-items: center;
    flex: 1;
    /* background: green; */
}

nav ul
{
    list-style: none;
    /* background: blue; */
    display: flex;
    justify-content: space-around;
    flex: 1;
}

nav ul li
{
    font-size: 20px;
    font-weight: 500;
    width: 190px;
    height: 20vh;
    /* background: pink; */
    display: flex;
    align-items: center;
    justify-content: center;
}

nav ul li:hover
{
    background-color: #424242;
}